.layout-container {
    .left-column {
        .left {
              @media screen and (max-width: 480px) {
            top: 30px;
 
           }
            width: calc(15% + 10px);
            height: 100%;
            position: fixed;
            top: 80px;
            bottom: 80px;
            left: 0;
        }
    }

    .right-column {
        .right {
                @media screen and (max-width: 480px) {
            top: 30px;
 
           }
            width: calc(15% + 10px);
            right: 0;
            position: fixed;
            top: 80px;
            bottom: 80px;
            height: 100%;
        }
    }
}
