.main-users-posts {
    margin-top: 80px;
    .posts-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(100% - 60px);
        .post {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            margin: 0 20px 20px 0;
            border-bottom: solid;
            h2 {
                font-size: 18px;
                font-family: monospace;
            }
            p {
                padding: 0 10px 0 10px;
                font-size: 12px;
            }
            p {
                a {
                    text-decoration: none;
                    color: rgb(50, 50, 248);
                }
            }
        }
    }
}